:root {
    --clr-white: #FFFFFF;
    --clr-fusia-300: #FFA7C3;
    --clr-fusia-700: #F74780;
    --clr-grey-700: #83869A;
    --clr-grey-900: #666CA3;
    --clr-black: #13183F;
    --gradient-orange-pink: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
    --gradient-purple-pink: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
}

* {
    box-sizing: border-box;
}

body, h1, h2, h3, p {
    margin: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
}

body > * {
    padding: 0 1rem;
    max-width: 600px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

button {
    border: none;
    border-radius: 28px;
    padding: 14px 32px;
    background: var(--clr-black);
    color: var(--clr-white);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

button:hover {
    background: var(--clr-grey-900);
}

footer {
    background: var(--clr-black);
}

.gradient {
    background: var(--gradient-orange-pink);
}

.gradient:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.gradient-alt {
    background: var(--gradient-purple-pink);
}

.gradient-alt:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.content-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.banner {
    margin: 1rem auto 38px auto;
}

.footer {
    padding: 36px 0;
}

section[role="main"] {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    padding-bottom: 40px;
}

h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #13183F;
    margin-bottom: 26px;
}

header {
    margin-bottom: 46px;
}

.header-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin-bottom: 24px;
}

.hero {
    margin-bottom: 66px;
}

.promo {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 10px;
    font-weight: 800;
    line-height: 32px;
    color: #FFFFFF;
    padding: 24px 29px 32px 28px;
    margin-bottom: 40px;
}

.promo h2 {
    font-size: 24px;
}

.dynamic-card {
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
    padding: 32px 28px 32px 28px;
    margin-bottom: 40px;
    position: relative;
}

.dynamic-card:last-of-type {
    margin-bottom: 0;
}

.dynamic-card img {
    position: absolute;
    transform: translateY(-56px);
}

.dynamic-card p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    color: #83869A;
    margin: 1rem 0 24px 0;
}

.dynamic-card button {
    color: #F74780;
    background-color: transparent;
    padding: 0;
}

.dynamic-card button:hover {
    background-color: transparent;
}